<%= content_for :sidebar do %>
	
<% end %>

<h1>Journal d'appels</h1>

<table>
  <tr>
    <th>ID de l'appel</th>
    <th>Appelant</th>
    <th>Appelé</th>
    <th>Type de l'appel</th>
    <th>Début de l'appel</th>
    <th>Fin de l'appel</th>
	<th>Durée de l'appel</th>
  </tr>

<% @calls.each do |call| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="center"><%= call.call_id %></td>
    <td class="center"><%= call.caller_id %></td>
    <td class="center"><%= call.called_id %></td>
    <td class="center"><%= call.call_type %></td>
    <td class="center"><%= call.call_start.strftime("%d/%m/%Y %H:%M:%S") %></td>
    <td class="center"><%= call.call_end.strftime("%d/%m/%Y %H:%M:%S") %></td>
	<td class="center"><%= (min = (call.call_duration / 60).round) > 0 ? "#{min}min" : "" %> <%= (call.call_duration % 60).round %>sec</td>
  </tr>
<% end %>
</table>
